<?php
/**
 * Magento Enterprise Edition
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Magento Enterprise Edition License
 * that is bundled with this package in the file LICENSE_EE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.magentocommerce.com/license/enterprise-edition
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    design
 * @package     enterprise_blank
 * @copyright   Copyright (c) 2009 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license     http://www.magentocommerce.com/license/enterprise-edition
 */
?>
<div class="page-title">
    <h2><?php echo $this->__('Share Your Shopping Cart') ?></h2>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo Mage::getUrl('checkout/cart/emailPost') ?>" id="form-validate" method="post">
<fieldset class="fieldset">
    <?php echo $this->getBlockHtml('formkey')?>
    <h3><?php echo $this->__('Sharing Information') ?></h3><br>
    <ul class="form-list">
        <li>
            <label for="email_address"><?php echo $this->__('Email addresses, separated by commas') ?><span class="required" style="color:#ff0000;">*</span> </label>
            <div class="input-box">
                <textarea name="emails" cols="60" rows="5" id="email_address" class="validate-emails required-entry" style="text-align: left;"><?php $email = trim(Mage::getModel('core/cookie')->get('email_id'));if($email != null) echo $email;else echo $this->getEnteredData('emails') ?></textarea>
            </div>
        </li>
        <li>
            <label for="message"><?php echo $this->__('Message') ?></label>
            <div class="input-box">
                <textarea id="message" name="message" cols="60" rows="5"><?php echo $this->getEnteredData('message') ?></textarea>
            </div>
        </li>
        <li>
            <p class="required" style="width:200px;"><?php echo $this->__('* Required Fields') ?></p>
        </li>
        <li>
        <?php
            $backUrl = Mage::registry('backUrl');
            if (!$backUrl) {
                $backUrl = Mage::getUrl('checkout/cart/');
            }
        ?>
            <span class="label"><a href="<?php echo $backUrl ?>" class="back-link" style="margin-left:170px;">&laquo; <?php echo $this->__('Back')?></a></span>
            <div class="input-box" style="float:right;margin-right:173px;">
                <button type="submit" class="button"><span><span><?php echo $this->__('Send Cart Content') ?></span></span></button>
            </div>
        </li>
    </ul>
</fieldset>
</form>
<script type="text/javascript">
//<![CDATA[
Validation.addAllThese([
    ['validate-emails', '<?php echo $this->__('Please enter a valid email addresses, separated by commas. For example johndoe@domain.com, johnsmith@domain.com.') ?>', function (v) {
    if(Validation.get('IsEmpty').test(v)) {
        return true;
    }

    var valid_regexp = /^[a-z0-9\._-]{1,30}@([a-z0-9_-]{1,30}\.){1,5}[a-z]{2,4}$/i;
    var emails = v.split(',');

    for (var i=0; i<emails.length; i++) {
        if(!valid_regexp.test(emails[i].strip())) {
            return false;
        }
    }

    return true;
    }]
]);
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
