<?php
$_coreHelper = $this->helper('core');
$checkoutHelper = Mage::helper('onestepcheckout/checkout');
?>

<table class="onestepcheckout-summary">
    <thead>
        <tr>
			<th class="name"><?php echo $this->__('Item'); ?></th>
			<th>&nbsp;</th>            
			<th class="price"><?php echo $this->__('Price'); ?></th>
            <th class="qty"><?php echo $this->__('Quantity'); ?></th>
            <th class="total"><?php echo $this->__('Subtotal'); ?></th>

        </tr>
    </thead>
	<?php
    /***** Load the Free Item Banner to check the status *****/
    $_freeBanner = Mage::getModel("banner/banner")->load('63');
    $bannerStatus = $_freeBanner->getStatus();
    $name = explode("-",$_freeBanner->getName());
    $productSku = trim($name[1]);
    /***** Load the Free Item Banner to check the status *****/
	?>
    <?php foreach($this->getItems() as $item): ?> 
	<?php if($item->getSku() == $productSku && $bannerStatus==1) continue; ?>
    <tr>
	<?php 
		$itemSku = explode("_",$item->getSku());
		$sku = $itemSku[0];
		
		$productId = Mage::getModel('catalog/product')->getIdBySku("$sku");
		$cProduct = Mage::getModel("catalog/product")->load($productId); 
		$restricted_states = $cProduct->getRestrictedStates(); 
		$inventoryQty = Mage::getModel('cataloginventory/stock_item')->loadByProduct($cProduct)->getQty();

		$zoneArray = explode(',',$cProduct->getWebSearchZone());
		$zoneCount = count($zoneArray);
	?>			 
		<td class="image"><img src="<?php echo $cProduct->getImageUrl(); ?>" style="width:90px;margin-right:10px;" ><br><span style="margin:2px 0 0 3px;"><?php echo "Item #".$sku; ?></span></td>

        <td class="name">
            <a href="<?php echo $this->getBaseUrl().$cProduct->getUrlKey().'.html';?>" style="text-decoration:none;" ><?php echo strip_tags(htmlspecialchars_decode(stripslashes($item->getName()))); ?></a>
            <?php if($checkoutHelper->settings['show_custom_options']): ?>
                <?php $options = $item->getProduct()->getTypeInstance(true)->getOrderOptions($item->getProduct()); ?>
                <?php if(isset($options['options']) && count($options['options']) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($options['options'] as $option): ?>
                    <li><b><?php echo $option['label'] . ':</b> ' . $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php if($item->getProduct()->isConfigurable()): ?>

                <?php
                $configurable_options = $item->getProduct()->getTypeInstance(true)->getSelectedAttributesInfo($item->getProduct());
                ?>

                <?php if(is_array($configurable_options) && count($configurable_options) > 0): ?>
                <ul class="onestepcheckout-custom-options">
                <?php foreach($configurable_options as $option): ?>
                    <li><b><?php echo $option['label']; ?>:</b> <?php echo $option['value']; ?></li>
                <?php endforeach; ?>
                </ul>
                <?php endif; ?>

                <?php endif; ?>

            <?php endif; ?>


			<?php 
			$zone='';
			if($zoneCount>1)
				$zone = $zoneArray[0].' - '.$zoneArray[$zoneCount-1];
			else 
				$zone = $zoneArray['0'];
			?>

			<?php if ($zone): ?>
				<div class="czone">Zone : <?php echo $zone; ?>	</div>			
			<?php endif; ?>
			<?php 			
			if ($cProduct->getFutureSeasonMessage()): ?>
					<div style="text-align:left;">
							<?php 
							if($cProduct->getFutureSeasonMessage()==1):
									 echo "We're sorry, ".$prodName." is currently unavailable.";
							elseif($cProduct->getFutureSeasonMessage()==2):
									 echo "We are out of inventory for Spring shipping, but we are taking orders for Fall shipping.";
							elseif($cProduct->getFutureSeasonMessage()== 3 || $cProduct->getFutureSeasonMessage()==4):
									 echo "Hurry! Limited Quantity <br />Only ".(int)$inventoryQty." left. BUY IT NOW!";
							elseif($cProduct->getFutureSeasonMessage()==5):
									 echo "This items ships immediately upon receipt of order.";
							elseif($cProduct->getFutureSeasonMessage()==6):
									 echo "<i style='font-size: 12px; color: #666; font-weight: normal;'>This item will ship at the recommended planting time for your area.</i>";
							else:
								echo "In Stock Ships Today!";
							endif; ?>
					</div>
			<?php endif; ?>
			

        </td>

		<td class="price">
            <?php //echo $itemPrice = $cProduct->getFinalPrice()*$cProduct->getUnitOfMeasure(); ?>
            <?php ?>
			<div style="text-align:center;width:115px;margin-left:12px;"><?php //echo $cProduct->getUnitOfMeasure(). " for " .$this->helper('checkout')->formatPrice(); ?>
            <?php $resource = Mage::getResourceSingleton('checkout/cart');?>
            <?php echo $resource->getSalePriceCartBlock($sku,$cProduct->getUnitOfMeasure(),$item->getQty(),$cProduct->getPrice()); ?></div><br>
		</td>
		
        <td class="qty"><?php echo $item->getQty(); ?></td>

        <td class="total">
			<span class='price' >$<?php //echo $this->helper('checkout')->formatPrice($item->getRowTotal()); ?>
            <?php
                $arr = array();
                $offerPrice = $item->getRowTotal();
                $adjVal = 0;
                $pointValue = $offerPrice - (int) $offerPrice;
                $nextValue = (float)($pointValue*100) ;
                $arr = explode('.',$nextValue);
                if(count($arr)>1){
                    $pValue= $arr[1];
                    $len = strlen($pValue);
                    if($len == 1){
                        $pValue = $pValue*10;
                    }
                    if($pValue > 50){
                        $adjVal = 0.01;
                    }
                }
                $offerPrice = $offerPrice + $adjVal;
                echo floor($offerPrice*100)/100;
            ?></span>

        </td>
    </tr>
    <?php endforeach; ?>

    <!-- Adding Free Item product in the Cart -->
    <?php


    /***** Get the Free Item Product *****/    
    $freeItemId = Mage::getModel('catalog/product')->getIdBySku($productSku);
    //$freeItemId = 10364; // SKU 21493
    $_freeitem = Mage::getModel('catalog/product')->load($freeItemId);
    $freeImgUrl = $_freeitem->getImageUrl();
    $freePrice = $_freeitem->getPrice();
    $freeSku = $_freeitem->getSku();
    $freeName = $_freeitem->getName();
    $freeUrl = $_freeitem->getUrlKey();
    $qty = '1';
    /***** Get the Free Item Product *****/

    if($bannerStatus == '1'): ?>
        <tr>

            <td class="image"><img style="width:90px;margin-right:10px;" src="<?php echo $freeImgUrl; ?>"><br><span style="margin:2px 0 0 3px;">Item #<?php echo $freeSku; ?></span></td>

            <td class="name">
                <h2 class="fdetails"><a style="text-decoration:none;" href="<?php echo Mage::getBaseUrl().$_freeitem->getUrlKey().".html"; ?>"><?php echo $freeName.'!'; ?></a></h2>

            </td>

            <td class="price">
                <div style="text-align:center;">1 for <span class="price">$0.00</span></div><br>

            </td>

            <td class="qty">1</td>

            <td class="total">
                <span class="price">$0.00</span>
            </td>
        </tr>
        <?php endif; ?>

    <!-- Adding Free Item product in the Cart -->
</table>
<?php
$statesCode = explode(" ",$restricted_states);
 foreach($statesCode as $codes){
		//foreach($codes as $code){
			$state[] = $codes;
		//}
	}
$stateStr= implode(",",$state);
?>
<input type="hidden" id="restrictedState" name="restrictedState" value="<?php echo $stateStr; ?>" />
<table class="onestepcheckout-totals">
    <?php foreach($this->getTotals() as $total): ?>
    <?php if(!$total->getTitle()){continue;}?>
        <?php
        $fullInfo = $total->getFullInfo();

        if(!empty($fullInfo) && $checkoutHelper->settings['display_full_tax']):
            foreach ($fullInfo as $info):
                $rates = current($info['rates']);
                $amount = $info['amount'];
        ?>
            <tr>
                <td class="title"><?php echo $rates['title'] ?> (<?php echo $rates['percent'] ?>%)</td><td class="value"><?php echo $this->helper('checkout')->formatPrice($amount); ?></td>
            </tr>
        <?php endforeach;
        endif;?>
<?php 
    //showing gift discount
    if($total->getCode()=="grand_total"){
    $redbackCertificateAmount = Mage::getSingleton('checkout/session')->getQuote()->getRedbackCertificateAmount();
    $finalTotalAmount = 0;
    $totalGiftAmount = 0;
    $redbackReplacecertAmount = Mage::getSingleton('checkout/session')->getQuote()->getRedbackReplacecertAmount();
    if(!empty($redbackReplacecertAmount))
		$totalGiftAmount = $totalGiftAmount+$redbackReplacecertAmount;
    if(!empty($redbackCertificateAmount)){
    	$giftAmount = explode(',',$redbackCertificateAmount);
	
	foreach($giftAmount as $ga){
		$totalGiftAmount = $totalGiftAmount + $ga;
	}
     }
	
	if($totalGiftAmount > 0 ){
		$finalTotalAmount = $total->getValue() - $totalGiftAmount;	
	?>

	<tr class="gift-replacement">
        <td class="title">
            Gift Discount :        </td>
        <td class="value">
            <?php echo $this->helper('checkout')->formatPrice($totalGiftAmount) ?></td>
    </tr>
				
	<?php   }?>
<?php  
	if($finalTotalAmount==0){
	$finalTotalAmount =$total->getValue();	
	}
}
?>
    <tr<?php if($total->getCode() == 'grand_total'): ?> class="grand-total"<?php endif; ?>>
        <td class="title">
            <?php

            $code = $total->getCode();
		
            $value = $total->getValue();

	    
            if($code == 'subtotal')    {
                $total_name = $this->__('Subtotal : ');
            }
            elseif($code == 'shipping')    {
                $total_name = $this->__('Shipping : ');
                if($checkoutHelper->settings['display_tax_included'])   {
                    $value += $this->getQuote()->getShippingAddress()->getShippingTaxAmount();
                }
                            }
            elseif($code == 'grand_total')    {
                $total_name = $this->__('Grand total : ');
		$value =$finalTotalAmount;	
            }
            else    {
                $total_name = $total->getTitle();
				if($total_name == 'Tax'){
				$total_name = $total_name ." :";
				}
            }

            echo $total_name;

            ?>
        </td>
        <td class="value">
            <?php echo $this->helper('checkout')->formatPrice($value); ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>

<script type="text/javascript">
//<![CDATA[
var total = <?php echo $this->getGrandTotal();?>;
    if(payment.reloadcallback){
        var url = '<?php echo $this->getUrl('onestepcheckout/ajax/paymentrefresh', array('_secure'=>true)); ?>';
        paymentrefresh(url);
        payment.countreload = 0;
        payment.reloadcallback = false;
    }
//]]>
</script> 

