.jcarousel-skin-tango .jcarousel-container {
    background: #F0F6F9;
    border: 1px solid #346F97;
	margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 819px;
    padding: 0px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
	border: 0;
	background: 0;
    width: 150px;
    height: 420px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  810px;
    height: 190px;
    padding-top:20px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  150px;
    height: 420px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 80px;
    height: 270px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 90px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 90px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 80px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 80px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
.product-name{
	color: #203548;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
}
.product-name a{
	color: #203548;
}
.freegift_container{
	border: 1px #d3d3d3 solid; padding: 5px;
}
.freegift_container ul,.freegift_container ol{
	list-style: none outside none;
}
.freegift_container li{
	float: left; width: 100px;
}
.freegift_header{
	background: none repeat scroll 0 0 #EEEEEE;
    border-color: #D3D3D3;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    margin: 5px 5px 0;
    padding: 2px 2px 2px 15px;
    width: 60px;
	clear:both;
}
.freegift_header h5{
	font-size: 12px;
    font-weight: bold;
    margin:0;
}
#freegift li{
	position: relative;
}
.free-icon{
	position: absolute;
	width: 45px;
	height: 45px;
	background-image: url("free.gif");
	top: 0px;
	z-index: 999;
	left: 0px;
}

.old-price .price{
	text-decoration: line-through;
}
.freegift_rules_container{
	width: 900px;
	height: 40px;
	background: #FCE3E6;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #d3d3d3;
}
.freegift-vetical{margin: 10px 40px;}
.freegift-vetical li{clear: both;}