<?php
// get today and last 10 days time
$today = time();
$last = $today - (60*60*24*10);
$current = $today + (60*60*24*1);
$from = date("Y-m-d", $last);
$to = date("Y-m-d", $current);
// this page will ony rum when current category is having the list of sub categories and in the main category there will be no products
$_categories=$this->getCurrentChildCategories(); // get the list of chiid catgeories
$num = 0;
$mainCategoryId = Mage::registry('current_category')->getId();
$mainCategoryObj = Mage::getModel('catalog/category')->load($mainCategoryId);
$totalReviews = 0;
$totalRatings = 0;
$noOfCategory = 0;
?>

<?php

if(count($_categories)){
echo '<div id="cat" >';
	$i=0;
	foreach ($_categories as $_category)
	{
		$currentCategoryProductCount='';
		$currentCategoryObj= Mage::getModel('catalog/category')->load($_category->getId()); // Current category object
		$currentCategory = $currentCategoryObj->getProductCollection()
							->addAttributeToFilter('status', array('eq' => 1))
							->addAttributeToFilter("price", array('gt'=> 0))
							->addAttributeToFilter("visibility", array('in',array(2,4)));

		//$currentCategory = Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($currentCategory);
		$currentCategoryProductCount = count($currentCategory);	 // get the current category product count
		if($currentCategoryProductCount >0 )
		{
			if($currentCategoryObj->getIsActive()) // if category is active then it will display in sub category listing (no limit)
			{
				$catName = $currentCategoryObj->getName();
				$catUrl = $currentCategoryObj->getUrl();
                $catId = $currentCategoryObj->getId();
                $collection='';
                /*$collection = Mage::getModel('catalog/product')->getCollection()
                    ->addAttributeToSelect('*')
                    ->addCategoryFilter($currentCategoryObj)
                    ->addAttributeToFilter('status', array('eq' => 1))
                    ->addAttributeToFilter("price", array('gt'=> 0))
                    ->addAttributeToFilter("visibility", array('in',array(2,4)))
                    ->setOrder("entity_id","desc")
                    ->setPageSize(1);*/
                $displayProductId=0;
                if($currentCategoryObj->getBestSellingProduct()!=null){
                    $skuId=$currentCategoryObj->getBestSellingProduct();
                    $displayProductId = Mage::getModel('catalog/product')->getIdBySku("$skuId");
                }


                $best = ' Best Seller';
                $collection = Mage::getModel('catalog/product')->getCollection()
                    ->addAttributeToSelect('*')
                    ->addCategoryFilter($currentCategoryObj)
                    ->addAttributeToFilter('status', array('eq' => 1))
                    ->addAttributeToFilter('default_category', array('eq' => 1))
                    ->setVisibility(Mage::getSingleton('catalog/product_visibility')->getVisibleInCatalogIds())
                    ->addAttributeToSort('last_tendays_sale_price', 'desc')
                    ->setPageSize(1);

                $k=0;
				foreach ($collection as $_prod) {
                    $productId='';
                    if($displayProductId && $k==0){
                        $productId = $displayProductId;
                    } else{
                        $productId = $_prod->getId();
                    }
                    $k++;
				?>
                <?php $_product = Mage::getModel('catalog/product')->load($productId);
                    if(!$_product->isSaleable()) continue; ?>
				<div class="catItem-first">
				<?php
					 // loading product or getting the detail of a product
					// echo $_product->getProductUrl();
                    //echo $best.'#### Ordered Qty ===='.$_prod->getOrderedQty();
                    if(!$_product->isSaleable()) continue;
                    ?>
					<?php if($_product->getName()!='')
						$prodName =  stripslashes($_product->getName());
					else if($_product->getCommonName()!='')
						$prodName =   stripslashes($_product->getCommonName());
					else if( $_product->getBotanicalName()!='' )
						$prodName =   stripslashes($_product->getBotanicalName());
					else
						$prodName =   stripslashes($_product->getBreckName());
					$prodName = strip_tags(htmlspecialchars_decode(stripslashes($prodName)));
					$uom = $_product->getUnitOfMeasure();
                    $sku = $_product->getSku();
					if($uom=='') $uom=1;
					?>

					<p class="catName"><a href="<?php echo $catUrl; ?>" title="<?php echo $this->htmlEscape($catName) ?>"><?php echo $this->htmlEscape($catName) ?></a></p>
					<a href="<?php echo $catUrl; ?>" title="<?php echo $this->htmlEscape($catName); ?>">
					<img title="<?php echo $prodName; ?>"  alt="<?php echo $prodName; ?>" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(150); ?>"></a>
					<h2 class="product-name" style="padding-top:5px;" ><a href="<?php echo $this->getBaseUrl().$_product->getUrlKey().'.html'; ?>" title="<?php echo $prodName; ?>"><?php echo $prodName;?></a></h2>
					<?php $zone='';
					$zoneValue = $_product->getWebSearchZone(); // Comma separated list of zone
					$zoneArray = explode(',',$zoneValue);
					$zoneCount = count($zoneArray);
					if($zoneCount>1)
						$zone = min($zoneArray).' - '.max($zoneArray); // display zone with min & max value
					else
						$zone = $zoneArray['0']; ?>
					<?php if ($zone){ ?>
					<div class="pitem" >Zone <?php echo $zone; ?></div>
					<?php } else { ?>
					<p>&nbsp;</p>
					<?php } ?>
					<div class="clear"></div>

                    <div class="originalPricediv">
                        <div id="main-<?php echo $sku;?>">
                            <?php $resource = Mage::getResourceSingleton('checkout/cart');?>
                            <?php echo $resource->getSalePriceBlock($sku,$uom); ?>
                        </div>
                    </div>
                    <?php $final_price = $_product->getFinalPrice()*$uom; ?>

                   <!-- <div class="original-price-div">
                        <div class="price-box" style="width:60%; float:left;margin:0px;" >
                            <p class="special-price " style="margin:0;" > <span class="price-label" style="float:none;">Today's Low Price: <?php if($uom) echo $uom; else echo '1'; ?> for </span> </p>

                        </div>
                        <div class="original-price-div" style="width:30%; float:right;">
                            <div class="price-box" style="margin:0px;text-align:left;margin-left:5px;" >
							<span class="regular-price">
								<?php $final_price = $_product->getFinalPrice()*$uom; ?>
                                <span class="price"><?php echo Mage::helper('core')->currency($final_price) ?> </span>
							</span>
                            </div>
                        </div>
                    </div> -->


					<span  class="enable-div" >
						<span style="display: none;" id="<?php echo $_product->getSku(); ?>" >
                            <span style="color: #336633; font-weight: bold;">Price: &nbsp;</span>
                            <span style="color: #336633; font-weight: bold;text-decoration: line-through;"><?php echo $uom.' for '.Mage::helper('core')->currency($final_price); ?></span>
                            <a href="<?php echo $this->getBaseUrl().$_product->getUrlKey().'.html'; ?>"><img src="<?php echo $this->getSkinUrl('images/discount-pricing.png');?>" style="margin-top:3px;"></a>
                        </span>
					</span>

					<div class="actions">
						<div style="margin:4px 0px;">
							<span style="margin-right:5px;font-size:10px;"> <a href="<?php echo $this->getBaseUrl().$_product->getUrlKey().'.html'; ?>">More info</a></span>
							<?php if($_product->isSaleable() && ($_product->getFutureSeasonMessage() > 1 || $_product->getFutureSeasonMessage()=='') ): ?>
								<button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getBaseUrl().$_product->getUrlKey().'.html'; ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
							<?php else: ?>

                            <button type="button" title="<?php echo $this->__('Buy Now') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getBaseUrl().$_product->getUrlKey().'.html'; ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>

								<!--<?php if ($_product->getIsSalable() && ($_product->getFutureSeasonMessage() > 1 || $_product->getFutureSeasonMessage()=='') ): ?>
									<span class="availability in-stock" ><?php echo $this->__('In stock') ?></span>
									<?php else: ?>
									<span class="availability out-of-stock" ><?php echo $this->__('Sold Out') ?></span>
								<?php endif; ?> -->

							<?php endif; ?>
						</div>
					</div>

					<div class="clear"></div>
					<?php // display the product count with link to category page?>
					<h4><a href="<?php echo $catUrl;?>">See all <?php echo $currentCategoryObj->getCatProductCount();?> <?php echo $this->htmlEscape($catName) ?></a></h4>
                    <?php
                    if($currentCategoryObj->getTotalReviewCount() > 0){
                        $totalReviews =$totalReviews + $currentCategoryObj->getTotalReviewCount();
                        $totalRatings =$totalRatings + $currentCategoryObj->getAvgRating();
                        $noOfCategory++;
                    }
                    ?>
                    <?php $i++;	?>
				</div>
				<?php if($i%3==0){ ?>
					<div class="clear" ></div>
				<?php }
				break;
				}
			}
		}
		$num++;
		//if($num==9) break ;
	}
echo '<div class="clear"></div>
</div>';
}
?>
<?php if($totalReviews > 0){?>
<div class="numcomment" style="display: none">
    <p typeof="v:Review-aggregate" xmlns:v="http://rdf.data-vocabulary.org/#">
        <span property="v:itemreviewed"><strong><?php echo $mainCategoryObj->getName(); ?></strong></span>
        Average score of
                    <span rel="v:rating">
                        <span typeof="v:Rating">
                            <span property="v:average"><?php echo round(($totalRatings/$noOfCategory),2); ?></span> / <span property="v:best">5</span>
                        </span>
                    </span>
        based on
        <span property="v:count"><?php echo $totalReviews; ?></span> comments!
    </p>
</div>
<?php }?>
<?php $currentCategory = Mage::registry('current_category');
$metaDescription = $currentCategory->getMetaDescription(); ?>
<div class="seo"><?php //echo $metaDescription; ?> </div>
<script>
function productform(val){
	var url = window.location;
	window.location.href= url +"?prod_id="+val;
}
</script>
