<?php
/*************RED BACK API LIST ORDER**************/
?>
<?php require_once 'redback/RedbackServices.php'; ?>
<?php  $orderId = $this->getRequest()->getParam('orderId');?>
<?php  $custNum = $this->getRequest()->getParam('cn');?>
<?php  $custZip = $this->getRequest()->getParam('cz');?>
<?php 
 //REDBACK API CALL TO GET THE ORDER Details
if(!empty($orderId)) {
	$session = Mage::getSingleton("core/session");
     	$arrySession=$session->getData();
	if(!empty($custNum) && !empty($custZip) ){
	   $customerNo = $custNum;
	   $customerZip =$custZip;
	}else if( !empty($arrySession['cust_number'])){
		 $customerNo = $arrySession['cust_number'];
		 $customerZip =$arrySession['cust_zip'];
	}
	$title ='4';
		$objRedBackApi = new RedbackServices();
	   	$data =array(
			'CustNumber'=>$customerNo,
			'CustName'=>'',
			'CustAdd1'=>'',
			'CustAdd2'=>'',
			'CustState'=>'',
			'CustCity'=>'',
			'CustZip'=>$customerZip,
			'CustCountry'=>'',
			'CustPhone'=>'',
			'CustFax'=>'',
			'CustEmail'=>''	,
			'CustPin'=>'',
			'Title'=>$title,
			'SumOrderNumbers'=>'',
			'SumOrderDates'=>'',
			'SumShipNames'=>'',
			'SumShipStatus'=>'',
			'SumOrderTotal'=>'',
			'DetOrderNumber'=>$orderId,
			'DetOrderDate'=>'',
			'DetOrderAmount'=>'',
			'DetShipName'=>'',
			'DetShipAdd1'=>'',
			'DetShipAdd2'=>'',
			'DetShipCity'=>'',
			'DetShipState'=>'',
			'DetShipZip'=>'',
			'DetShipNumber'=>'',
			'DetShipItems'=>'',
			'DetShipQty'=>'',
			'DetShipDesc'=>'',
			'DetShipVia'=>'',
			'DetShipDate'=>'',
			'DetShipTrackNums'=>'',
			'DetShipTrackLink'=>'',
			'DetShipEstDelBegin'=>'',
			'DetShipEstDelEnd'=>'',
			'DetOpenLocs'=>'',
			'DetOpenItems'=>'',
			'DetOpenQtys'=>'',
			'DetOpenDesc'=>'',
			'DetOpenEstDelBegin'=>'',
			'DetOpenEstDelEnd'=>'',
			'StatusErr'=>'',
			'StatusMsg'=>''
			);
           	$redbackOrderDetail = $objRedBackApi->OrderDetailService($data);
		$RedbackErrors ='';

		//Redback is not avaiable then 		
		if(!$redbackOrderDetail){
			$RedbackErrors = "Sorry we are not able to show order detail";
		}else{
			// Error Message then display error message
            $arrOpenItemOrdered=array();
            $arrItemOrdered =array();
			if(empty($redbackOrderDetail['StatusErr'])){
                if(!empty($redbackOrderDetail['DetOpenItems'])){

                    $detOpenItems = str_replace('ý','ü',$redbackOrderDetail['DetOpenItems']);
                    $detOpenQtys = str_replace('ý','ü',$redbackOrderDetail['DetOpenQtys']);
                    $detOpenDesc = str_replace('ý','ü',$redbackOrderDetail['DetOpenDesc']);
                    $detOpenEstDelBegin = str_replace('ý','ü',$redbackOrderDetail['DetOpenEstDelBegin']);

                    $arrOpenItemOrdered =	explode('ü',$detOpenItems);
                    $arrOpenItemQty =	explode('ü',$detOpenQtys);
                    $arrOpenDetOpenDesc =	explode('ü',$detOpenDesc);
                    $arrOpenDetOpenEstDelBegin =	explode('ü',$detOpenEstDelBegin);
                }

                if(!empty($redbackOrderDetail['DetShipItems'])){

                    $detShipItems = str_replace('ý','ü',$redbackOrderDetail['DetShipItems']);
                    $detShipQty = str_replace('ý','ü',$redbackOrderDetail['DetShipQty']);
                    $detShipDesc = str_replace('ý','ü',$redbackOrderDetail['DetShipDesc']);
                    $detShipEstDelBegin = str_replace('ý','ü',$redbackOrderDetail['DetShipEstDelBegin']);

                    $arrItemOrdered =	explode('ü',$detShipItems);
                    $arrItemQty =	explode('ü',$detShipQty);
                    $arrDetOpenDesc =	explode('ü',$detShipDesc);
                    $arrDetOpenEstDelBegin =	explode('ü',$detShipEstDelBegin);
                }

			}else{
				$RedbackErrors = $redbackOrderDetail['StatusMsg'];
			}

		}

?>
<div class="order-page">
<?php if (empty($RedbackErrors)) { ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Order #%s', $orderId) ?></h1>
</div>
<p class="order-date"><?php echo $this->__('Order Date: %s', $redbackOrderDetail['DetOrderDate']) ?></p>
<div class="col2-set">
    <div class="col-1">
        <div class="info-box">
            <h2 class="box-title"><?php echo $this->__('Shipping Address') ?></h2>
            <address class="box-content"><?php echo $redbackOrderDetail['DetShipName'];?><br>
		<?php echo $redbackOrderDetail['DetShipAdd1'];?>
		<?php if(!empty($redbackOrderDetail['DetShipAdd2'])){?>
			<?php echo ','.$redbackOrderDetail['DetShipAdd2'];?>
		<?php }?>		
		<br>
		<?php echo $redbackOrderDetail['DetShipCity'];?>,  <?php echo $redbackOrderDetail['DetShipState'];?>,<?php echo $redbackOrderDetail['DetShipZip'];?><br>
		</address>
        </div>
    </div>
</div>
<?php $_index = 1; ?>
<?php $_count = count($arrItemOrdered); ?>
<?php if($_count > 0) :?>
<table class="data-table">
    <thead>
        <tr class="first last">
            <th class="a-left" width="80%"><b><?php echo $this->__('Name') ?></b></th>
            <th class="a-center" width="10%"><b><?php echo $this->__('SKU') ?></b></th>
            <th class="a-center" width="10%"><b><?php echo $this->__('Qty Ordered') ?></b></th>
        </tr>
    </thead>
    <h4 class="table-caption" ><?php echo $this->__('Items Shipped') ?></h4>

    <?php foreach ($arrItemOrdered as $key => $_item): ?>
        <?php $productId = Mage::getModel('catalog/product')->getIdBySku($_item); ?>
        <?php $_product = Mage::getModel('catalog/product')->load($productId); ?>
        <?php $_index++; ?>

        <tr <?php echo ($_index > $_count ? ' class="last"' : 'class="first"') ?>>
            <td class="a-left" valign="top" >
                <div style="float: left;margin-right: 5px;width: 15%;" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(60); ?>" width="60" height="60" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a></div>
                <div style="float:left;width:75%;word-wrap: break-word;" ><b><?php echo $arrDetOpenDesc[$key] ?></b></div>
                <div class="clear" ></div>
            </td>
            <td class="a-center"><?php echo $_item ?></td>
            <td class="a-center"><?php echo $arrItemQty[$key] ?></td>
        </tr>
	<?php endforeach; ?>

<?php endif; ?>
<?php $_index = 1; ?>
<?php $_count = count($arrOpenItemOrdered); ?>
<?php if($_count > 0) :?>
    <table class="data-table">
        <thead>
        <tr class="first last">
            <th class="a-left" width="72%"><b><?php echo $this->__('Name') ?></b></th>
            <th class="a-center" width="10%"><b><?php echo $this->__('SKU') ?></b></th>
            <th class="a-center" width="18%"><b><?php echo $this->__('Open Qty') ?></b></th>
        </tr>
        </thead>

        <h4 class="table-caption" ><?php echo $this->__('Items Pending') ?></h4>
        <?php foreach ($arrOpenItemOrdered as $key => $_item): ?>
        <?php $productId = Mage::getModel('catalog/product')->getIdBySku($_item); ?>
        <?php $_product = Mage::getModel('catalog/product')->load($productId); ?>
        <?php $_index++; ?>
        <tr <?php echo ($_index > $_count ? ' class="last"' : 'class="first"') ?>>
            <td class="a-left" valign="top" >
                <div style="float: left;margin-right: 5px;width: 15%;" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(60); ?>" width="60" height="60" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a></div>
                <div style="float:left;width:75%;word-wrap: break-word;" ><b><?php echo $arrOpenDetOpenDesc[$key] ?></b></div>
                <div class="clear" ></div>
            </td>
            <td class="a-center"><?php echo $_item ?></td>
            <td class="a-center"><?php echo $arrOpenItemQty[$key] ?></td>
        </tr>
        <?php endforeach; ?>
<?php endif; ?>
    <tfoot>
        <tr>
            <td colspan="2" class="a-right" style="border-bottom: 1px solid #D9D9D9;"><b><?php echo $this->__('Order Total') ?></b></td>
            <td class="a-right"  style="border-bottom: 1px solid #D9D9D9;"><b><?php echo Mage::helper('core')->currency($redbackOrderDetail['DetOrderAmount']) ?></b></td>
        </tr>
    </tfoot>
</table>
<?php } else {?>
<div class="page-title title-buttons">
    <h1><?php echo $RedbackErrors; ?></h1>
</div>
<?php }?>
<?php } ?>
</div>



