<div>
	<div style="float:left;width:278px;margin-left: 10px;">

    <p class="uhmsg">Uh Oh...</p>
	<p class="uhmsg2">We can't find the page <br>you have requested.</p>

	<p >Please check your spelling and try your search again in the field above.If that doesn't work, let us help you.Give us a call at 513-354-1509 or email us and we'll get you where you wanted to go!</p>

	</div>

    <div style="float:left;width:295px;">
	     <img src="<?php echo $this->getSkinUrl('images/needhelp.jpg');?>" >   
   </div>

</div><br>



<div class="suggest">May we suggest these popular items...</div>

<?php echo $this->getLayout()->createBlock('catalog/product_new')->setTemplate('catalog/product/home_featuredproduct.phtml')->toHtml() ?> 


