<?php $actionName = $this->getAction()->getFullActionName(); ?>
<?php $cookieEmailId=Mage::getModel('core/cookie')->get('email_id');?>
<?php //$cookieFirstname=Mage::getModel('core/cookie')->get('firstname');?>
<?php //$cookieLastname=Mage::getModel('core/cookie')->get('lastname');?>



<!---- Get the cookie ---->
<?php $utmCookie = Mage::getModel('core/cookie')->get('Email_Exists'); ?>
<!---- Get the cookie ---->


<?php if ($cookieEmailId || $utmCookie == 'Y' || ($actionName == 'checkout_onepage_index') || ($actionName == 'onestepcheckout_index_index') || ($actionName == 'checkout_onepage_success')):  ?>

<?php else: ?>
<script src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl(); ?>js/iphone/jquery-1.7.1.min.js" ></script>
<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        //if the cookie hasLaunch is not set, then show the modal window
        var emailCookie = getCookie('Email_Exists');
        var cookieValue = readCookie('hasLaunch');
        //alert('Cookie Value'+cookieValue);
        if (cookieValue==null && emailCookie==null) {
            //launch it
            //then set the cookie, so next time the modal won't be displaying again.
            var email = getCookie('email_id');
            //alert('Email Id:'+email);
            if(email==null){
                setTimeout(function(){
                    var id = '#dialog';
                    var cid = '#dialog';
                    //Get the screen height and width
                    var maskHeight = jQuery(document).height();
                    var maskWidth = jQuery(window).width();
                   jQuery("#address-overlay").show();

                    //Set heigth and width to mask to fill up the whole screen
                    //jQuery('#mask').css({'width':maskWidth,'height':maskHeight});

                    //transition effect
                    //jQuery('#mask').fadeIn(1000);
                    //jQuery('#mask').fadeTo("slow",0.8);

                    //Get the window height and width
                    var winH = jQuery(window).height();
                    var winW = jQuery(window).width();

                    //Set the popup window to center
                    jQuery(id).css('top',  winH/2-jQuery(id).height()/2);
                    jQuery(id).css('left', winW/2-jQuery(id).width()/2);

                    if(jQuery(window).height()<= jQuery('#cdialog').height()+50)   {
                        jQuery('#cdialog').css('display', 'none');
                        jQuery('#address-overlay').addClass('overlay-none');
                        jQuery('#address-overlay').css('display', 'none');
                    }

                    if(jQuery(window).height()<= jQuery('#dialog').height()+50)   {
                        jQuery('#dialog').css('display', 'none');
                        jQuery('#address-overlay').addClass('overlay-none');
                        jQuery('#address-overlay').css('display', 'none');
                    }else{
                        //transition effect
                        createCookie('hasLaunch', 10);
                        jQuery('#address-overlay').removeClass('overlay-none');
                        jQuery(id).fadeIn(2000);
                    }
                    //if close button is clicked
                    jQuery('.close').click(function () {
                        //Cancel the link behavior
                        jQuery('#mask').hide();
                        jQuery('#boxes .window').hide();
                        jQuery("#address-overlay").hide();
                    });
                    jQuery('.cclose').click(function () {
                        //Cancel the link behavior
                        jQuery('#mask').hide();
                        jQuery('.window').hide();
                    });

                    /*if mask is clicked
                    $('#mask').click(function () {
                        $(this).hide();
                        $('.window').hide();
                    });	*/
                }, 30000);
            }
        }
    });


    function createCookie(c_name,value,exdays)
    {
        var exdate = new Date();
        var time = exdate.getTime();
        time += 3600 * 1000;
        exdate.setTime(time);
        var c_value=escape(value) + ((exdate==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value;
    }

    function readCookie(c_name)
    {
        //alert(document.cookie.split(";"));
        var i,x,y,ARRcookies=document.cookie.split(";");
        for (i=0;i<ARRcookies.length;i++)
        {
            x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
            y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
            x=x.replace(/^\s+|\s+$/g,"");
            if (x==c_name)
            {
                return unescape(y);
            }
        }
    }

</script>
<div class="clear"></div>

<div id="boxes">
    <div class="window winpop" id="dialog" style="display: none;">
        <div class="innerpop">
            <div class="popcontent">
                <div class="Instant">
                    <div class="close">Close<span>X</span></div>
                    <span class="Save">Save $25</span> <span class="firstordertext">on your first order when you sign up for our exclusive email offers</span>
                    <form name="newsletterDetail" method="post" action="<?php echo Mage::getBaseUrl(); ?>newsletter/subscriber/new/" >
                        <div class="block-content">
                            <ul>
                                <li>
                                    <div class="field">
                                        <label><span>*</span>Name :</label>
                                        <div class="input-box">
                                            <input type="text" onblur="if (this.value =='') { this.value = 'First and Last Name'; }" onfocus="if (this.value =='First and Last Name') { this.value = ''; }" value="First and Last Name" name="name" class="required-entry validate-email"  >
                                        </div>
                                    </div>
                                </li>
                                <input type="hidden"  name="signup-type" value="center">

                                <li>
                                    <div class="field">
                                        <label><span>*</span>Email :</label>
                                        <div class="input-box">
                                            <input type="text" onblur="if (this.value =='') { this.value = 'Email Address'; }" onfocus="if (this.value =='Email Address') { this.value = ''; }" value="Email Address" name="email" class="required-entry validate-email"  id="email">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                                <button onclick="return validateemailsignup();" id="submitButton"  name="send" type="submit" title="Submit" class="button Submit InstantSavings"><span><span>Click here to sign up and<br />
                get your instant $25 Savings!</span></span></button>
                                <div class="Privacypolicy"><a href="<?php echo Mage::getBaseUrl(); ?>privacy-policy">Privacy policy</a></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    //var newsletterSubscriberFormDetaila = new VarienForm('newsletter-validate-detaila');
    //]]>
    function validateemailsignup(){

        var obj = document.newsletterDetail;
        var email = document.getElementById('email');
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        //alert('test'+obj.name.value);
        if( obj.name.value=="" || obj.name.value=='First and Last Name')
        {
            alert("Please enter name");
            obj.name.focus();
            return false;
        }
        if( obj.email.value=="" || obj.email.value=='Email Address')
        {
            alert("Please enter email");
            obj.email.focus();
            return false;
        }
        if (!filter.test(email.value)) {
            alert('Please provide a valid email address');
            obj.email.focus;
            return false;
        }

    }
</script>

<!-- Mask to cover the whole screen -->


<?php endif; ?>
