<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hardiness-map')->toHtml() ?>

<table width=100% cellpadding=0 cellspacing=0 border=0><tr><td width=100%><table style="width:20%" cellpadding=4 cellspacing=0 border=1 align=right>
<tr>
	<td width=30 valign=top><center><b>Map<br>Color</b></center></font></td>
	<td width=30 valign=top><center><b>Zone<br>No.</b></center></font></td>
	
</tr>
<tr>
	<td bgcolor="#3399CC"></td>
	<td><center>3</center></font></td>
	
</tr>
<tr>
	<td bgcolor="#99CC99"></td>
	<td><center>4</center></font></td>
	
</tr>
<tr>
	<td bgcolor="#CCCC66"></td>
	<td><center>5</center></font></td>

</tr>
<tr>
	<td bgcolor="#FFFF66"></td>
	<td><center>6</center></font></td>
	</tr>
<tr>
	<td bgcolor="#FFCC66"></td>
	<td><center>7</center></font></td>
	</tr>
<tr>
	<td bgcolor="#FBB26F"></td>
	<td><center>8</center></font></td>
	
</tr>
<tr>
	<td bgcolor="#F7966B"></td>
	<td><center>9</center></font></td>
	
</tr>
<tr>
	<td bgcolor="#EE4848"></td>
	<td><center>10</center></font></td>
	
</tr>

</table>

<div style="font-weight:800;color:#AA0000"><span id="results"></span></div>

<p style="padding-right:130px;">

Plant hardiness is very important to growing success. Check the map to determine which hardiness zone you live in, or click on find zone on the right navigation bar to find your zone. You'll find zone designations at the end of many of the plant descriptions on this site and in the print catalog. A variety marked "Zones 3-8," for example, should grow and thrive in zones 3, 4, 5, 6, 7 and 8.</p></td></tr></table>
<div><p><b>Find Your Hardiness Zone:</b><br>Enter your zip code in the box below.</p></div>

<form method="post" onsubmit="return false;">
<input type=text name=zip id="zip" class="hardinesstext">

<button class="button Submit" title="Submit" type="submit" onclick="return zone(document.getElementById('zip').value);"><span><span>Submit</span></span></button></form>


