<?php $actionName = $this->getAction()->getFullActionName(); ?>
<?php $current_url = Mage::helper('core/url')->getCurrentUrl(); ?>
<?php $baseUrl = Mage::getBaseUrl(); ?>
<?php $Url = str_replace($baseUrl,'',$current_url);?>

<?php
/**** Start of Get all parameters 
$category = $this->getRequest()->getParam('category');
$web_search_zone = $this->getRequest()->getParam('web_search_zone');
$plantfinder = $this->getRequest()->getParam('plantfinder');
$shade = $this->getRequest()->getParam('shade');
$partial_shade = $this->getRequest()->getParam('partial_shade');
$full_sun = $this->getRequest()->getParam('full_sun');
 End of Get all parameters *****/
$web_search_zone = $this->getRequest()->getParam('web_search_zone');
?>

<script src="<?php echo Mage::getBaseUrl(); ?>js/iphone/jquery-1.7.1.min.js" ></script>
<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($){
    var email = getCookie('email_id');
    var emailStr = email.split(';');
    var str = emailStr[0];
    //alert('Cookie Email ='+emailStr[0]);
    if(str != null){
       // alert(str);
        $('#hardzoneemail').val(str);
        $('#newsletter').val(str);
    }else{
        $('#newsletter').val('Email Address');
        $('#hardzoneemail').val('Email Address');
    }
})


</script>




<div class="mapbg">
  <h1 class="title"></h1>
  <div class="map">
    <div class="mapcontent">

	 <form method="post" action="<?php echo $this->getUrl('sortzone/index/post') ?>" id="sortzoneForm2" onsubmit="return checkZipkeyword2();">
      <div class="mail">
        <input type="text" value="Email Address" title="Email Address"  onfocus="if (this.value == 'Email Address') {this.value = '';} this.style.color = '#B2B2B2';" onblur="if (this.value == '') {this.value = 'Email Address';} this.style.color = '#B2B2B2';"  id="hardzoneemail" class="validate-email required-entry" name="hzoneemail" />
      </div>
      <div class="zipcode">
        <input type="text"  onfocus="if (this.value == 'Zip Code') {this.value = '';} this.style.color = '#B2B2B2';" onblur="if (this.value == '') {this.value = 'Zip Code';} this.style.color = '#B2B2B2';" title="Zip Code"  value="Zip Code" name="sort-zip-code" id="zip-code"/>

      </div>

      <input type="submit" name="find-zone" class="findplantsbut" alt="Find Plants for Your Zone" title="Find Plants for Your Zone" />

			<input type="hidden" name="currpageAction" id="currpageAction" value="catalogsearch_advanced_result">
				<input type="hidden" name="currpageUrl" id="currpageUrl" value="catalogsearch/advanced/result/">			 				 
				<input type="hidden" name="plantfinder" id="plantfinder" value="yes">
				<input type="hidden" name="web_search_zone" id="web_search_zone" value="<?php echo $web_search_zone; ?>">

			  </form> 

    </div>
  </div>
</div>

 
 
          
 
<script type="text/javascript">
		function checkZipkeyword2(){ 	
			
			var id_email=document.getElementById("hardzoneemail");
            var id=document.getElementById("zip-code");

            if(id_email.value=="" || id_email.value=="Email Address")
			{ 
				alert("Please Enter Email Address");
				id_email.focus();
				return false; 
			}
			if(id.value=="" || id.value=="Zip Code")
			{ 
				alert("Please Enter Zip Code to find your Zone"); 
				id.focus(); 
				return false; 
			}     

		}
</script> 
 
 

<div class="bottombox">
  <div class="Freecatalog">
    <div class="texto">Request a Free Catalog</div>
    <input type="button" class="fcbutton" alt="Get a Free Catalog" title="Get a Free Catalog" onclick="freecat();" />
  </div>

  <?php echo $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe_zone.phtml')->toHtml() ?> 			

	<div class="clear"></div>

</div>

	<div style="height:51px;"></div>


<script>
function freecat(){

window.location = '<?php echo Mage::getBaseUrl(); ?>freecatalog';  }

</script>
 
 


