<?php
$secureurl=Mage::getResourceSingleton('checkout/cart')->getsecureurl();
// saving product into the cart if selects name
$qty = $_REQUEST['qty'];
$entered_qty = $_REQUEST['qty'];
if($qty==""){
	$qty=1;
} 
$request = Mage::app()->getRequest();
$_product = Mage::getModel('catalog/product')->load($_REQUEST['pid']);
$stock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product);
$stock_count = (int) $stock->getQty(); 
$stock_min_qty = (int) $stock->getMinSaleQty(); 
$stock_max_qty = (int) $stock->getMaxSaleQty(); 
$uom = $_product->getUnitOfMeasure();
$sku = $_product->getSku();
$price = $_product->getPrice();

$flgUom = 0;
if($uom){
	if($uom > 1 && ($qty/$uom)!=0){
		$flgUom =1;	
	}
	$qty = $uom * (ceil($qty/$uom));
}
if($stock_count>=$qty && $qty<=$stock_max_qty){

	$cart = Mage::helper('checkout/cart')->getCart();
	$quoteid=Mage::getModel('checkout/cart')->getQuote()->getId();
	$addflag=0;

	$cart->addProduct($_product, array(
		'qty' => $qty,
		)
	);	
	
	//$session->setLastAddedProductId($_REQUEST['pid']);
	//$session->setCartWasUpdated(true);
	$cart->save();
	$shipmessage= strip_tags(htmlspecialchars_decode(stripslashes($_product->getName()))).' was added to your shopping cart.';		
	$message = 'message_value';
	$dataValue = strip_tags(htmlspecialchars_decode(stripslashes($_product->getName()))).' was added to your shopping cart.';

	$msg="yes";
	

}else{
	$error=" Products requested quantity not available";
}


// Getting Recommended item as cross sell
//echo $_product->getFutureSeasonMessage();
if($_product->getFutureSeasonMessage()==1 && 0):

	$crosssell_product = $_product->getCrossSellProductIds(); // Since the product is out of stock then we will use up cross sell product from magento
	$count = count($crosssell_product); 
	foreach($crosssell_product as $_crosssell): 
		$_displayproduct = Mage::getModel('catalog/product')->load($_crosssell);
		if($_displayproduct->isSaleable() &&  $_displayproduct->getFutureSeasonMessage() > 1){        
			$displayCross_sell[] = $_crosssell;
		}
		if(count($displayCross_sell)==3) break; 			 
	endforeach;

else: 
	//echo $_product->getRecommendedItems();
	if($_product->getRecommendedItems()): 
	$upselldynamic_full = explode(" ",$_product->getRecommendedItems()); 
	//print_r($upselldynamic_full); 
		if(count($upselldynamic_full)>0 ):
		$j=1;
		foreach($upselldynamic_full as $sku) { 
			
		 	$productId = Mage::getModel('catalog/product')->getIdBySku("$sku");
			$avaliableproduct = Mage::getModel('catalog/product')->load($productId); 
			if($avaliableproduct && $avaliableproduct->isSaleable() &&  $avaliableproduct->getFutureSeasonMessage() > 1){
				if($j){
					//echo $sku;
					$displayCross_sell[] = $sku;
					$j++;
				}else{
					$j++;
				}
			}
			if(count($displayCross_sell)==1) break;
		}
		endif;
	endif;

endif;
//"#########".print_r($displayCross_sell);

//Getting Cross sell products
$ids=array();
if(count($displayCross_sell) > 0){
	$ids=$displayCross_sell;
}
	
?>


<div id="AddToCartPopup" align="center">
<?php
if($msg){
	$skuArray = explode('_',$_product->getSku());
?>
<div id="AddToCartPopup_Confirm">
	<div style="float: right;"></div>
	<div style="text-align:center;">
	<?php //print_r($_tierPrices); ?>
	<?php //echo $tierPriceCount; ?>
		<div style="margin-left:-10px;" >
			<img border="0" style="margin: 5px 0px 0px 0px;width:25px"  src="<?php echo $secureurl;?>skin/frontend/enterprise/springhills/images/addtocart_cart.png">
			<span style="color: #336633;" class="headers5">Thanks!<br></span>
		</div>
		<span class="popup-success-msg">You have just added this item to your shopping cart:</span><br />
		<?php if($entered_qty < $uom):?>
		<span class="uom-message">
		The minimum order quantity for <?php echo '#'.$skuArray['0']; ?> is <?php echo $uom; ?>. Your quantity has been adjusted.
		</span>
		<?php elseif($entered_qty > $uom && $entered_qty < $qty): ?>
		<span class="uom-message">
		<?php echo '#'.$skuArray['0']; ?> is sold in quantities of <?php echo $uom; ?>. Your quantity has been adjusted to <?php echo $qty; ?>.
		</span>
		<?php endif; ?>
		<br />
		
	</div>
	
	<div id="popup_name" > <a href="<?php echo $_product->getProductUrl();?> " ><?php echo strip_tags(htmlspecialchars_decode(stripslashes($_product->getName())));?> </a> </div>
	<div id="popup_qty" ><label for="qty">Qty: &nbsp;</label><?php if($qty) echo $qty; else echo '1'; ?> </div>
	<div id="popup_price">     
		<?php $offerCode = Mage::getSingleton('core/session')->getData('offerCode'); ?>
		<?php if($offerCode):?>
			<?php $offerresource = Mage::getResourceSingleton('checkout/cart');?>
			<?php $prodSku = $_product->getSku(); ?>
			<?php echo $offerresource->getOfferCartPrice("$prodSku", "$offerCode", "$qty", "$uom", "$price"); ?>
		<?php else: ?>
			<?php echo Mage::helper('core')->currency($_product->getFinalPrice()*$qty);?> 
		<?php endif; ?> 
	</div>
	<div class="clear" ></div>
</div>

<?php }if($error){ ?>
<div id="AddToCartPopup_Confirm">
	<div style="float: right;"></div>
	<img border="0" align="left" style="margin: 5px 15px 0px 0px;" src="<?php echo $secureurl;?>skin/frontend/enterprise/springhills/images/addtocart_cart.png">
	<span style="color: #336633;" class="headers5">Oops!<br></span>
	<?php echo $error; ?>
	<hr class="hr">
</div>
<?php }
// Up sell Products 
if(count($ids)>=1){
?>
<div id="AddToCartPopup_Offer">
	<div style="text-align:center" ><b style="color: #336633;" class="headers5">Here is an Extra Special Offer!</b></div>
	
	<?php $i=1; 
	foreach ($ids as $skuId) {
		if($i<=3){ 
		
		$productId = Mage::getModel('catalog/product')->getIdBySku("$skuId");	
		$newSku = $skuId."_VSPMAAC";
		$offerproductId = Mage::getModel('catalog/product')->getIdBySku($newSku);
        $_product_cross = Mage::getModel('catalog/product')->load($productId);	
        $uom =  $_product_cross->getUnitOfMeasure();
        if($uom > 1):
        $cross_qty = $uom;
        else:
        $cross_qty = '1';
        endif;
		?>
		<table cellspacing="0" cellpadding="0" border="0" style="width:100%" >
		<tr>
			<td width="25%" style="text-align:center"><img src="<?php echo $this->helper('catalog/image')->init($_product_cross, 'thumbnail')->resize(110); ?><?php //echo $_product_cross->getImageUrl(); ?>" width="90" height="90" alt="<?php echo strip_tags(htmlspecialchars_decode(stripslashes($_product_cross->getName())));?>" title="<?php echo strip_tags(htmlspecialchars_decode(stripslashes($_product_cross->getName())));?>" style="margin-top:3px;"/><br>
				<span style="color:#336633"><?php echo "Item # ".$_product_cross->getSku(); ?></span>
			</td>
				
			<td style="padding-left:0px;margin-left:0px; padding-top:15px;" > 
					<div style="text-align:center">
						<span class="subhead popup-name"><a href="<?php echo $_product_cross->getProductUrl();?>" ><?php echo strip_tags(htmlspecialchars_decode(stripslashes($_product_cross->getName())));?></a></span>

						<div id="popup-regular" >Regular Price <span>
						<?php $offer_uom = $_product_cross->getUnitOfMeasure();
						if($offer_uom):
						echo Mage::helper('core')->currency($offer_uom*$_product_cross->getFinalPrice());
						else:
						echo Mage::helper('core')->currency($_product_cross->getFinalPrice());
						endif;
						?>
						</span></div>
						<div id="popup-special" >Today's Special Price: 
						<?php $offerprice = ($_product_cross->getFinalPrice()) * 0.05; 
						if($offer_uom):
						echo Mage::helper('core')->currency($offer_uom*($_product_cross->getFinalPrice() - $offerprice));
						else:
						echo Mage::helper('core')->currency($_product_cross->getFinalPrice() - $offerprice);
						endif;
						?>
						</div>

						<div>
						
							  <a onclick="addOfferProduct('<?php echo $offerproductId;?>','<?php echo $_product->getId(); ?>','<?php echo $quoteid; ?>')" href="javascript:void(0)"><img src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>skin/frontend/enterprise/springhills/images/buttons/button-addtocart-tall2.gif" width="119" height="31" alt="" style="width:119px; height:31px;margin: 0px;"/></a>
						
						</div>
					
					</div>

			</td>
		</tr>
		</table>
		<?php
		}
		$i++;
	}?>
</div>
<?php } // upsell products....?> 


<?php if(count($ids)>=1){ ?>
<div id="AddToCartPopup_Buttons">
<a class="popup-continue" onclick="window.location.href='<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>'" href="javascript:void(0)">
<img border="0" src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>skin/frontend/enterprise/springhills/images/continue-shopping.jpg" id="cboxCloset">
</a>
<a class="popup-checkout" onclick="window.location.href='<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>checkout/cart/'" href="javascript:void(0)">
<img border="0" src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>skin/frontend/enterprise/springhills/images/no-thanks-proceed-to-checkout.jpg" id="cboxCloset">
<?php } else{ ?>
<div id="AddToCartPopup_Buttons">
<a class="popup-continue" onclick="window.location.href='<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>'" href="javascript:void(0)">
<img border="0" src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>skin/frontend/enterprise/springhills/images/continue-shopping.jpg" id="cboxCloset">
</a>
<a class="popup-checkout" onclick="window.location.href='<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>checkout/cart/'" href="javascript:void(0)" >
	<img border="0" src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>skin/frontend/enterprise/springhills/images/continue.jpg" id="cboxCloset">
<?php } ?>
</a></div>	
</div>
<div id="results" style="width:539px; height:600px;">  </div>

<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($) {
$("#address-overlay").css("display","none");
$("#boxes").css("display","none");
//document.getElementById('mask').style.display='none';
//document.getElementById('boxes').style.display='none';
});

function addLocation(url){
	<?php 
	/*$quote = Mage::getSingleton('checkout/session')->getQuote();
	$couponCode = '12345';
	$quote->setCouponCode($couponCode);
    $quote->setTotalsCollectedFlag(false)->collectTotals();
    $quote->collectTotals();
    $quote->save();
    Mage::getModel("checkout/session")->setData("coupon_code",$couponCode);
    Mage::getModel('checkout/cart')->getQuote()->setCouponCode($couponCode)->save();
    Mage::getModel('checkout/cart')->getQuote()->collectTotals();
    Mage::getModel('checkout/cart')->getQuote()->save();*/
	?>
	window.loacation.href=url;

}

</script>

<script type="text/javascript">
//<![CDATA[
	//Validate shipping address
	function addOfferProduct(offerPId,ProductId,QuoteId){
		obj = false;
		if(window.ActiveXObject){
			obj = new ActiveXObject("Microsoft.XMLHTTP");
		}else{
			obj = new XMLHttpRequest();
		}
		obj.open('GET','<?php echo $this->getbaseUrl();?>ajaxfiles/offerproduct.php?offerPid='+offerPId+'&productId='+ProductId+'&quote='+QuoteId);
		obj.onreadystatechange = function(){
			if(obj.readyState <4){ 
				
			}else if (obj.readyState ==4 && obj.status ==200){
				if(obj.responseText=='done'){
					setLocation("<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>checkout/cart/add/product/<?php echo $offerproductId;?>/qty/<?php echo $cross_qty?>");
				}
			}
		}
		obj.send(null);
		
		
	
	}

	
//]]>
</script>





