<?php $actionName = $this->getAction()->getFullActionName(); ?>

<?php if (($actionName != 'checkout_onepage_index') && ($actionName != 'onestepcheckout_index_index')) : ?>

<div class="catalog">
<div id="form-search">
<?php
$sessid=session_id();
$request = $this->getRequest();
$module = $request->getModuleName();
$controller = $request->getControllerName();
$action = $request->getActionName();
?>
<p class="headline"><strong>Order from<br>Our Catalog</strong></p>
 
 
<div class="quick-order">
 
<script src="<?php echo Mage::getResourceSingleton('checkout/cart')->getsecureurl();?>js/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
		jQuery.noConflict();
       	jQuery(document).ready(function($) {   

        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() + 1;
        $('#addScnt').click(function() { 

                $('"<p><label for="p_scnts"><input type="text" id="block-sku-entry'+ i +'" maxlength="10" class="sku-entry1" size="20" name="sku-entry[]" value="Enter Item #" onfocus="if (this.value == \'Enter Item #\') { this.value = \'\'; }" onblur="if (this.value == \'\') { this.value = \'Enter Item #\'; }"  style="float:left;width:80px;margin-left: 4px;" ><input type="text" maxlength="4" class="qty1" id="block-qty' + i +'" size="20" name="qty[]" value="Qty" onfocus="if (this.value == \'Qty\') { this.value = \'\'; }" onblur="if (this.value == \'\') { this.value = \'Qty\'; }" style="float:left;width:25px;margin-right:5px;  margin-left:2px;" ></label> <a href="#" id="remScnt">Remove</a></p><div class="clear"></div>"').appendTo(scntDiv);                 
                i++;
                return false;
        });


       	$('#remScnt').live('click', function() {
                if( i > 2 ) { 
                        $(this).parents('p').remove();

                        i--;
                }
                return false;
        });
		$('#go1').click(function() { 
			if(($("#block-sku-entry1").val()=="Enter Item #" || $("#block-sku-entry1").val()=="") && ($("#block-qty1").val()=="Qty" || $("#block-qty1").val()=="")){
				alert("Please enter a 5-digit Item Number and a number for Quantity");
				return false;
			}
			if($("#block-sku-entry1").val()=="Enter Item #" || $("#block-sku-entry1").val()==""){
				alert("Please enter a 5-digit Item Number");
				return false;
			}
			if($("#block-qty1").val()=="Qty" || $("#block-qty1").val()==""){
				alert("Please enter a number for Quantity");
				return false;
			}
		 });
		
	});


</script>


<form method="post" name="quickorder" id="quickorder" action="<?php echo $this->getBaseUrl();?>quickorder/index/post/" onSubmit="validate()">
<div id="p_scents">
    <p>
        <label for="p_scnts">
		<div class="Item"> Item# <br>  				
				<input type="text" id="block-sku-entry1" maxlength="10" class="sku-entry1 input-text" size="20" min="2" max="5" name="sku-entry[]" value="Enter Item #" onfocus="if (this.value == 'Enter Item #') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter Item #'; }" style="color:#666666;" /> 
			 
		</div>
       
		<div class="Qty"><span>Qty.</span><br>      
				
				<input type="text" id="block-qty1" maxlength="4" class="input-text"  name="qty[]" value="Qty" onfocus="jQuery('#qty1').css('color','#666');if (this.value == 'Qty') { this.value = ''; }" onblur="if(jQuery('#qty1').val()==''){ jQuery('#qty1').css('color','#ccc'); } if (this.value == '') { this.value = 'Qty'; }" style="color:#666666;" />

		</div>		
		<p></p>
		
		<div class="Go">
			<!-- <input type="image" id="go1" value="Go" src="<?php echo $this->getSkinUrl('images/buttons/go.png'); ?>"> -->
			<!-- <input class="go-btn"  type="submit" name="submit" id="go1" value="" title="Go" /> -->	
			<button class="go-btn" id="go1" value="" title="Go">Go</button>
			</div>
<div class="clear" ></div>		
	</label>
    </p>

</div>

<div class="clear" ></div>	
<p class="more"><span class="clickhere"><b>More Items?</b></span><span class="clickhere"><a href="#"  id="addScnt">Click Here</a></span></p>
</form>

</div>
<script type="text/javascript">
//<![CDATA[
    var quickorder = new VarienForm('quickorder', false);
//]]>
</script>
</div>
</div>


<?php endif; ?>
