ul#nav h2 a{
    color: #069;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    padding: 0px 6px 0px 0px;
    text-align: left;
}

ul#nav li:hover div.mega, ul#nav li div.mega.open {
    text-align: left;
    top: 40px;
    z-index: 100;
}

ul#nav div.mega {
    background: url("../images/mega-top-border.gif") no-repeat scroll right top #FFFFFF;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #FEC701;
    border-left: 1px solid #FEC701;
    /*border-top: 2px solid #FEC701;*/
    border-bottom: 1px solid #FEC701;
    box-shadow: 0 3px 3px 0 #000000;
    cursor: auto;
    left: 2px;
    line-height: 1.5;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    top: -9999px;
    width: 18em;
    z-index: 999999;
    min-height:50px;
}

ul#nav div.mega ul {d
    left: 0 !important;
}

ul#nav div.mega ul li a {
    background: none !important;
    border: none !important;
    color: #444444;
    font-weight: normal !important;
}

ul#nav, ul#nav li, ul#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul#nav div.mega div { background:none; position: static; }

#nav div ul {
    background: none repeat scroll 0 0 transparent;
    border: 0 none !important;
    padding: 0;
    position: static;
    width: auto;
}

#nav ul, #nav div {
    position: static;
    padding:0 !important;
}

.mega ul, .maga li {
    float: none !important;
    left: 0 !important;
}

.nav-container #nav li .mega li { width: 100%; }

TopNav ul#nav li {
    float: left;
    font-weight: normal;
    position: relative;
    right: 50%;
}

ul#nav li li {
    border: 0 none;
    display: block !important;
    float: none !important;
    right: 0 !important;
}

ul#nav li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FEC701;
    border-left: 1px solid #FEC701;
    border-right: 1px solid #FEC701;
    border-style: none solid;
    border-width: 0px;
    float: left;
    position: relative;
}

ul#nav, ul#nav li, ul#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    border-bottom: 1px solid #E2E2E2;
    display: block;
    float: none;
    height: auto;
}

#nav ul li a {
    color: #444444;
    display: block;
    font-size: 12px;
    line-height: 1.5em;
    padding: 0;
    text-decoration: none !important;
    border:none;
}


ul#nav a {
    display: block;
    text-decoration: none;
}

ul#nav > li:hover {
    /*background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FEC701;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 3px 0 #000000;
    margin: 0 -4px 0;
    padding: 0 4px 0;*/
    z-index: 999999;
}

ul#nav > li:hover span, #nav li.over a.level-top span
{
    background: #FFFFFF !important;
    border: 1px solid #FEC701;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 3px #000000;
    margin: 0 -2px 0;
    padding: 0 4px 0;
}

ul#nav li:hover div.mega, ul#nav li div.mega.open {
    text-align: left;
    top: 119px;
    z-index: 100;
    font-weight: normal;
}

ul#nav li div.mega.open.shown-sub{
    display:block!important;
    /*min-height:100px;*/
}

ul#nav > li:hover div.mega a, ul#nav > li:hover div.mega span {
    background:none !important;
    border:none;
    box-shadow:none;
    border-radius:0px;
    color:#444444;
    font-weight:normal;
}
ul#nav > li:hover a span { color:#336633; }
ul#nav > li:hover div.mega a:hover, ul#nav > li:hover div.mega a:hover span { color:#990000; }

#nav li.over div.mega span, #nav li.active div.mega span {
    background: none;
    margin-top: -17px;
    padding: 0;
    position: relative;
    text-align: center;
}
ul#nav div.mega .Menuimage {
    text-align: center;
    width: 100%;
    float:left;
    margin-top: 5px;
    padding: 5px 0px !important;
    /*border-top: 1px solid #366730;*/
}

.footer .nav-container {
    margin-top: 0px !important;
    padding-top: 0;
}

.footer ul#nav>li:hover {
    padding: 0px !important;
    margin: 0px 5px  !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    border-bottom: 0px;
    border-top: 0px;
    background: none;
}

.footer ul#nav>li:hover a {
    color: #CC6600 !important;
}

.footer div.mega {
    display: none !important;
}

.footer ul#nav > li:hover span, .footer #nav li.over a.level-top span, #nav li.over a.level-top span.no-sub
{
    background:url("../images/navmenu-arrow-hover.png") no-repeat center bottom !important;
    border:none;
    border-radius:0;
    box-shadow:none;
    margin-top: -17px;
    padding: 11px 0 0;
    color: #FFF;
}
